*/lightning_logs/
*/__pycache__/
*/wandb/
*/.vscode/
*/*/__pycache__/
*/*/.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/wandb/
*/*.pt
*/*/*.pt
wandb/
__pycache__/
lightning_logs/
.ipynb_checkpoints/
.vscode/